<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>虎氣滿滿好運到家 18折起</title>
	<meta name="title" content="虎氣滿滿好運到家 18折起">
	<meta name="keywords" content="APP,好康,24h購物">
	<meta name="description" content="台北市6小時到貨(試營運)，全台灣24小時到貨！">
	<meta property="og:title" content="虎氣滿滿好運到家 18折起">
	<meta property="og:description" content="台北市6小時到貨(試營運)，全台灣24小時到貨！">
	<meta property="og:image" content="./screen.jpg">
	<meta property="og:site_name" content="虎氣滿滿好運到家 18折起">
	<meta property="og:type" content="website">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <!--CSS-->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/swiper.min.css">
	<link type="text/css" rel="stylesheet" href="css/style.css">

    <!-- jQuery -->
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
</head>

<body>
    <!-- Loading圖 -->
    <div class="loading">
        <div class="position-relative w-100 h-100">
            <p class="loading__boxman">
                <img src="img/gallery/deco_boxmanTiger.png" class="w-100 h-auto" alt="">
            </p>
            <img src="img/loading.svg" class="loading__img" alt="">
        </div>
    </div>
    <!-- END // Loading圖 -->

	<div id="top"></div><!-- 回頂端定位用 -->

    <!-- 右側選單 (手機置頂) -->
    <div class="right_menu d-flex align-items-end flex-column">
        <div class="arrow_box"><span class="arrow arRight"></span></div>
        <ul class="menu_box radius_M">
            <li><a href="#bankBox">儲銀異業</a></li>
            <li><a href="#bigBrand">大牌來歡聚</a></li>
            <li><a href="#brand">品牌回饋</a></li>
            <li><a href="#newnew">新年有新意</a></li>
            <li><a href="#newyearTheme">春節主題特區</a></li>
            <li><a href="#onsale">瘋殺特賣</a></li>
            <li><a href="#coupon">券券精省</a></li>
            <li><a href="#goodActive">精選會場</a></li>
            <li class="gotop"><a href="#top"><span class="arrowTop arUp"></span>TOP</a></li>
        </ul>
    </div>
    <div class="gotopMB">
        <a href="#top"><span class="arrowTop arUp"></span>TOP</a>    
    </div>
    <!-- END // 右側選單 -->


    <div class="wrap" id="app">
        <!-- 版頭 -->
        <header class="position-relative">
            <!-- 裝飾 -->
            <div class="deco deco__texture">
                <img src="img/gallery/bg_texture.jpg" class="w-100 h-auto" alt="">
            </div>
            <div class="deco deco__waveL">
                <img src="img/gallery/bg_waveL.png" class="w-100 h-auto" alt="">
            </div>
            <div class="deco deco__waveR">
                <img src="img/gallery/bg_waveR.png" class="w-100 h-auto" alt="">
            </div>
            <div class="deco deco__boxmanTiger">
                <img src="img/gallery/deco_boxmanTiger.png" class="w-100 h-auto" alt="">
            </div>
            <div class="deco deco__header w-100 h-100"></div>
            <div class="deco deco__cloudL1 mb">
                <img src="img/gallery/deco_cloudL1.png" class="w-100 h-auto" alt="">
            </div>
            <div class="deco deco__cloudR1 mb">
                <img src="img/gallery/deco_cloudR1.png" class="w-100 h-auto" alt="">
            </div>
            <div class="deco deco__table mb">
                <img src="img/gallery/deco_table.png" class="w-100 h-auto" alt="">
            </div>
            <div class="deco deco__hotpot mb">
                <img src="img/gallery/deco_hotpot.png" class="w-100 h-auto" alt="">
            </div>
            <div class="deco deco__shrimp">
                <img src="img/gallery/deco_shrimp.png" class="w-100 h-auto" alt="">
            </div>
            <div class="deco deco__table pc">
                <img src="img/gallery/deco_table.png" class="w-100 h-auto" alt="">
            </div>
            <div id="scene" class="position-absolute w-100 h-100" style="top:0;left:0;z-index:5;">
                <!-- 左 -->
                <div class="deco deco__temple">
                    <img src="img/gallery/deco_temple.png" class="w-100 h-auto layer" alt="" data-depth-y="-0.20">
                </div>
                <div class="deco deco__cloudL2">
                    <img src="img/gallery/deco_cloudL2.png" class="w-100 h-auto layer" alt="" data-depth-y="-0.30">
                </div>
                <div class="deco deco__veg">
                    <img src="img/gallery/deco_veg.png" class="w-100 h-auto layer" alt="" data-depth-y="0.20">
                </div>
                <div class="deco deco__cloudL1 pc">
                    <img src="img/gallery/deco_cloudL1.png" class="w-100 h-auto layer" alt="" data-depth-y="-0.20">
                </div>
                <div class="deco deco__pork">
                    <img src="img/gallery/deco_pork.png" class="w-100 h-auto layer" alt="" data-depth-y="0.20">
                </div>
                <!-- 右 -->
                <div class="deco deco__cloudR2">
                    <img src="img/gallery/deco_cloudR2.png" class="w-100 h-auto layer" alt="" data-depth-y="-0.30">
                </div>
                <div class="deco deco__fish">
                    <img src="img/gallery/deco_fish.png" class="w-100 h-auto layer" alt="" data-depth-y="0.20">
                </div>
                <div class="deco deco__cloudR1 pc">
                    <img src="img/gallery/deco_cloudR1.png" class="w-100 h-auto layer" alt="" data-depth-y="-0.20">
                </div>
                <div class="deco deco__dumpling">
                    <img src="img/gallery/deco_dumpling.png" class="w-100 h-auto layer" alt="" data-depth-y="0.20">
                </div>
            </div>
            <div class="deco deco__lanternL">
                <img src="img/gallery/deco_lantern.png" class="w-100 h-auto" alt="">
            </div>
            <div class="deco deco__lanternR">
                <img src="img/gallery/deco_lantern.png" class="w-100 h-auto" alt="">
            </div>
            <div class="deco deco__dog">
                <img src="img/gallery/deco_dog.png" class="w-100 h-auto" alt="">
            </div>
            <div class="deco deco__panda">
                <img src="img/gallery/deco_panda.png" class="w-100 h-auto" alt="">
            </div>
            <div class="deco deco__tiger">
                <img src="img/gallery/deco_tiger.png" class="w-100 h-auto" alt="">
            </div>
            <div class="deco deco__smokeL">
                <img src="img/gallery/deco_smokeL.png" class="w-100 h-auto" alt="">
            </div>
            <div class="deco deco__smokeR">
                <img src="img/gallery/deco_smokeR.png" class="w-100 h-auto" alt="">
            </div>
            <div class="w-100 deco deco__wave1 mb">
                <img src="img/gallery/bg_waveYellowm.png"  alt="">
            </div>
            <div class="w-100 deco deco__wave2 mb">
                <img src="img/gallery/bg_waveRedm.png" alt="">
            </div>
            <!-- END // 裝飾 -->
            <div class="position-relative title__main">
                <div class="s_desktop">
                    <img :src="data.kv" alt="">
                </div>
                <div class="s_mobile">
                    <img :src="data.kvM" alt="">
                </div>
            </div>
            <!-- 版頭輪播 -->
            <div id="kvSlider" class="position-relative">
                <div class="kvSlider_pc swiper-container">
                    <ul class="swiper-wrapper">
                        <li v-for="(slider,i) in data.top" class="swiper-slide">
                            <a :href="slider.link">
                                <img :src="slider.img" alt="" class=" d-block">
                            </a>
                        </li>
                    </ul>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="kvSlider_mb swiper-container">
                    <ul class="swiper-wrapper">
                        <li v-for="(slider,i) in data.topM" class="swiper-slide">
                            <a :href="slider.link">
                                <img :src="slider.img" alt="" class=" d-block">
                            </a>
                        </li>
                    </ul>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <!-- END // 版頭輪播 -->
        </header>
        <!-- END // 版頭 -->

        <!-- 版身 -->
        <main class="position-relative">
            <div class="snowArea"></div>
            <!-- 裝飾 -->
            <div class="deco deco__plumPinkL">
                <img src="img/gallery/deco_plumPink.png" class="w-100 h-auto" alt="">
            </div>
            <div class="deco deco__plumPinkR">
                <img src="img/gallery/deco_plumPink.png" class="w-100 h-auto" alt="">
            </div>
            <div class="w-100 deco deco__wave1 pc">
                <img src="img/gallery/bg_waveYellow.png" alt="">
            </div>
            <div class="deco deco__frog">
                <img src="img/gallery/deco_frog.png" class="w-100 h-auto" alt="">
            </div>
            <div class="w-100 deco deco__wave2 pc">
                <img src="img/gallery/bg_waveRed.png"  alt="">
            </div>
            <div class="deco deco__plumL">
                <img src="img/gallery/deco_plum.png" class="w-100 h-auto" alt="">
            </div>
            <div class="deco deco__plumR">
                <img src="img/gallery/deco_plum.png" class="w-100 h-auto" alt="">
            </div>
            <div class="deco deco__rabbit">
                <img src="img/gallery/deco_rabbit.png" class="w-100 h-auto" alt="">
            </div>
            <!-- END // 裝飾 -->
            
            <!-- 儲銀異業 -->
            <section id="bankBox" class="pb-4 pb-lg-5 pt-4 pt-lg-5 boxmanDish2">
                <div class="container frameStyle1">
                    <article>
                        <ul class="grid grid_4">
                            <li v-for="(bn,i) in data.cross">
                                <a :href="bn.link">
                                    <img :src="bn.img" alt="">
                                </a>
                            </li>
                        </ul>
                    </article>
                </div>
            </section>
            <!-- END // 儲銀異業 -->
            
            <!-- 大牌來歡聚 -->
            <section id="bigBrand" class="py-4 boxmanDish1">
                <h5 class="text-center mb-sm-3 mb-2">
                    <img src="img/title/1.png" alt="">
                </h5>
                <div class="container frameStyle1">
                    <img class="brandCoin position-absolute" src="img/block/brand_coin.png" alt="">
                    <img class="brandFirecracker position-absolute" src="img/block/brand_firecracker.png" alt="">
                    <article class="frameStyle2">
                        <div class="swiper-container">
                            <ul class="swiper-wrapper">
                                <li v-for="(slide,i) in data.brand" class="swiper-slide">
                                    <a :href="slide.link" class="d-block">
                                    <img :src="slide.img" class="w-100" alt=""></a>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                    </article>
                </div>
            </section>
            <!-- END // 大牌來歡聚 -->
            
            <!-- 品牌回饋 -->
            <section id="brand" class="py-4 boxmanDish2">
                <h5 class="text-center mb-sm-3 mb-2">
                    <img src="img/title/2.png" alt="">
                </h5>
                <div class="container frameStyle1">
                    <img class="money1 position-absolute" src="img/block/money1.png" alt="">
                    <img class="money2 position-absolute" src="img/block/money2.png" alt="">
                    <img class="money3 position-absolute" src="img/block/money3.png" alt="">
                    <article class="frameStyle2 frameStyle3">
                        <ul class="grid grid_2_4">
                            <li v-for="(bn,i) in data.brandsale">
                                <a :href="bn.link">
                                    <img :src="bn.img" alt="">
                                </a>
                            </li>
                        </ul>
                    </article>
                </div>
            </section>
            <!-- END // 品牌回饋 -->
            
            <!-- 新年有新意 -->
            <section id="newnew" class="py-4 boxmanDish1">
                <h5 class="text-center mb-sm-3 mb-2">
                    <img src="img/title/3.png" alt="">
                </h5>
                <div class="container frameStyle1">
                    <img class="money1 position-absolute" src="img/block/money1.png" alt="">
                    <img class="money2 position-absolute" src="img/block/money2.png" alt="">
                    <img class="money3 position-absolute" src="img/block/money3.png" alt="">
                    <article class="frameStyle2 frameStyle3">
                        <ul class="grid grid_2">
                            <li v-for="(bn,i) in data.diamond">
                                <a :href="bn.link">
                                    <img :src="bn.img" alt="">
                                </a>
                            </li>
                        </ul>
                    </article>
                </div>
            </section>
            <!-- END // 新年有新意 -->
            
            <!-- 春節主題特區 -->
            <section id="newyearTheme" class="pt-4 pb-5 boxmanDish2">
                <h5 class="text-center mb-sm-3 mb-2">
                    <img src="img/title/4.png" alt="">
                </h5>
                <div class="container frameStyle1">
                    <img class="money1 position-absolute" src="img/block/money1.png" alt="">
                    <img class="money2 position-absolute" src="img/block/money2.png" alt="">
                    <img class="money3 position-absolute" src="img/block/money3.png" alt="">
                    <article class="frameStyle2 frameStyle3 products">
                        <ul class="grid grid_4">
                            <li v-for="(item,i) in data.theme">
                                <a :href="item.link">
                                    <img :src="item.img" alt="" class="d-block">
                                    <div class="hotline">{{item.hotline}}</div>
                                    <div class="pd_title">{{item.title}}</div>
                                    <div class="price">
                                        <i class="original"><small>$</small>{{item.original}}</i>
                                        <small>$</small>{{item.price}}
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </article>
                </div>
            </section>
            <!-- END // 春節主題特區 -->
            
            <!-- 瘋殺特賣 -->
            <section id="onsale" class="pt-4 pb-5 boxmanDish2">
                <h5 class="text-center mb-sm-3 mb-2">
                    <img src="img/title/10.png" alt="">
                </h5>
                <div class="d-flex justify-content-center align-items-end">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link tab01 active" data-toggle="tab" href="#n3c">3C數位.手機</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tab02" data-toggle="tab" href="#ce">家電.生活休閒</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tab03" data-toggle="tab" href="#food">食日用.美妝流行</a>
                        </li>
                    </ul>
                </div>
                <div class="container frameStyle1">
                    <img class="money1 position-absolute" src="img/block/money1.png" alt="">
                    <img class="money2 position-absolute" src="img/block/money2.png" alt="">
                    <img class="money3 position-absolute" src="img/block/money3.png" alt="">
                    <article class="frameStyle2 frameStyle3">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="n3c">
                                <ul class="row">
                                    <li v-for="(list,i) in data.onsale1" class="col-lg-3 col-md-3 col-6">
                                        <a :href="list.link">
                                            <img :src="list.img" alt="" class="d-block">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="ce">
                                <ul class="row">
                                    <li v-for="(list,i) in data.onsale2" class="col-lg-3 col-md-3 col-6">
                                        <a :href="list.link">
                                            <img :src="list.img" alt="" class="d-block">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="food">
                                <ul class="row">
                                    <li v-for="(list,i) in data.onsale3" class="col-lg-3 col-md-3 col-6">
                                        <a :href="list.link">
                                            <img :src="list.img" alt="" class="d-block">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- END // Tab panes -->
                    </article>
                </div>
            </section>
            <!-- END // 瘋殺特賣 -->
            
            <!-- 券券精省 -->
            <section id="coupon" class="py-4 boxmanDish1">
                <h5 class="text-center mb-sm-3 mb-2">
                    <img src="img/title/12.png" alt="">
                </h5>
                <div class="container frameStyle1">
                    <img class="money1 position-absolute" src="img/block/money1.png" alt="">
                    <img class="money2 position-absolute" src="img/block/money2.png" alt="">
                    <img class="money3 position-absolute" src="img/block/money3.png" alt="">
                    <article class="frameStyle2 frameStyle3">
                        <ul class="grid grid_4bn">
                            <li v-for="(bn,i) in data.coupon">
                                <a :href="bn.link">
                                    <img :src="bn.img" alt="">
                                </a>
                            </li>
                        </ul>
                    </article>
                </div>
            </section>
            <!-- END // 券券精省 -->
            
            <!-- 精選會場 -->
            <section id="goodActive" class="py-4 boxmanDish2">
                <h5 class="text-center mb-sm-3 mb-2">
                    <img src="img/title/13.png" alt="">
                </h5>
                <div class="container frameStyle1">
                    <img class="money1 position-absolute" src="img/block/money1.png" alt="">
                    <img class="money2 position-absolute" src="img/block/money2.png" alt="">
                    <img class="money3 position-absolute" src="img/block/money3.png" alt="">
                    <article class="frameStyle2 frameStyle3">
                        <ul class="grid grid_4bn">
                            <li v-for="(bn,i) in data.shop">
                                <a :href="bn.link">
                                    <img :src="bn.img" alt="">
                                </a>
                            </li>
                        </ul>
                    </article>
                </div>
            </section>
            <!-- END // 精選會場 -->
        </main>
        <!-- END // 版身 -->

        <div class="py-4"></div><!-- 空格 -->
    </div>




	<!-- Footer -->
    <div class="d-flex justify-content-center align-items-center flex-column card_note">
        <div class="left">謹慎理財　信用至上</div>
        <ul class="right">
            <li>
                本網頁所列各項行銷活動均由各發卡銀行及服務廠商提供，
                活動即時登錄情形及是否取得最終回饋資格逕洽各活動發卡銀行及服務廠商。
            </li>
        </ul>
    </div>
	<div class="footer">
        <ul class="d-flex justify-content-center align-items-center mb-3">
            <li class="text">追蹤我們</li>
            <li><a href="javascript:void(0);"><img src="img/fb_new.svg" class="d-block"></a></li>
            <li><a href="javascript:void(0);"><img src="img/ig_new.svg" class="d-block"></a></li>
            <li><a href="javascript:void(0);"><img src="img/youtube_new.svg" class="d-block"></a></li>
            <li><a href="javascript:void(0);"><img src="img/line_new.svg" class="d-block"></a></li>
        </ul>
        <p>本活動頁商品規格、顏色、價位、贈品如與銷售網頁不符，以銷售網頁標示為準！</p>
    </div>
	<!-- END // Footer -->
    <div class="menuMask"></div>


    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.29/dist/vue.global.prod.js"></script>
    <script src="js/data.js"></script>
    <script>
        const Counter = {
            data() {
                return {
                data: database
                }
            }
        }
        Vue.createApp(Counter).mount('#app')
    </script>
    <script src="js/parallax.min.js"></script>
    <script src="js/gsap.min.js"></script>
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/ScrollTrigger.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>